<footer>
  <span>A project by:</span>
  <div class="gradient">
    <a href="https://www.sqreen.io/" target="_blank" rel="noreferrer noopener" class="logo-ctn">
      <img src="/images/sqreen-logo.svg" alt="Visit Sqreen.io">
    </a>
    <h5>Protect Your Applications. Frustrate attackers.</h5>
    <div class="subtitle">With its unique in-app technology, Sqreen revolutionizes the way DevOps teams protect apps from intrusions & data loss!</div>
    <a href="https://www.sqreen.io/" target="_blank" rel="noreferrer noopener">
      <span>www.sqreen.io</span>
    </a>
    <a href="https://twitter.com/SqreenIO" target="_blank" rel="noreferrer noopener">
      <img src="/images/icon-twitter-white.svg" alt="Visit our Twitter">
      <span>@SqreenIO</span>
    </a>
  </div>
</footer>
