<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="Protect your applications from cybersecurity threats by following the DevOps Security Checklist.">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="https://www.sqreen.io/checklists/devops-security-checklist">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc3e47">
  <meta name="theme-color" content="#ffffff">

  <!-- OG Fb -->
  <meta property="og:url" content="http://devops-security-checklist.sqreen.io/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The DevOps Security Checklist">
  <meta property="og:image" content="http://devops-security-checklist.sqreen.io/images/share-pic.jpg">
  <meta property="og:description" content="Protect your applications from cybersecurity threats by following the DevOps Security Checklist.">
  <meta property="og:site_name" content="The DevOps Security Checklist">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="SqreenIO">

  <!-- OG Tw -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SqreenIO">
  <meta name="twitter:creator" content="@SqreenIO">
  <meta name="twitter:url" content="http://devops-security-checklist.sqreen.io/">
  <meta name="twitter:title" content="The DevOps Security Checklist">
  <meta name="twitter:description" content="Protect your applications from cybersecurity threats by following the DevOps Security Checklist.">
  <meta name="twitter:image" content="http://devops-security-checklist.sqreen.io/images/share-pic.jpg">

  {% include segment.html %}
</head>
