---
layout: default
---
{% for tip in site.tips %}
  {% assign cat = tip.category %}

  <div class="scrollspy" id="">
    <h2>{{ cat | escape }}</h2>
    <ul class="checklist">
    {% if cat == 'Culture' %}
      <li class="{{ tip.stage }}">
        <div class="header">
          <div class="check">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
              <g fill="none" fill-rule="evenodd" stroke-width="3" transform="translate(2 2)">
                <path stroke="#9012FE" d="M6 11.402l2.874 2.934L16.06 7"/>
                <circle cx="11" cy="11" r="11"/>
              </g>
            </svg>
          </div>
          <div class="expend-bar">
            <p>{{ tip.title | escape }}</p>
            <span class="category">{{ tip.stage }}</span>
          </div>
          <div class="btn">
            <img src="/images/arrow-bottom.svg" alt="" class="arrow">
          </div>
        </div>
        <div class="body">
          {{tip.content }}
        </div>
    {% endif %}
      </li>
    </ul>
  </div>
{% endfor %}
