---
layout: default
---
{% assign cultures = site.tips | where:'category', 'Culture' %}
<div class="scrollspy" id="culture">
  <h2>Culture</h2>
  <ul class="checklist">
    {% for culture in cultures %}
    <li class="{{ culture.stage | replace: " ", "-" | downcase }}">
      <div class="header">
        <div class="check">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
            <g fill="none" fill-rule="evenodd" stroke-width="3" transform="translate(2 2)">
              <path stroke="#fc3e47" d="M6 11.402l2.874 2.934L16.06 7"/>
              <circle cx="11" cy="11" r="11"/>
            </g>
          </svg>
        </div>
        <div class="expend-bar">
          <p>{{ culture.title | escape }}</p>
          <span class="category">{{ culture.stage }}</span>
        </div>
        <div class="btn">
          <img src="/images/arrow-bottom.svg" alt="" class="arrow">
        </div>
      </div>
      <div class="body">
        {{ culture.content }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="newsletter-middle">
  <span>Send me the whole checklist &amp; updates!</span>
  <form class="contact-form" action="https://www.getdrip.com/forms/776829025/submissions" method="post" data-drip-embedded-form="776829025">
    <input type="hidden" name="fields[segmentId]" data-fields="segmentId">
    <input type="hidden" name="fields[sqreenUserId]" data-fields="sqreenUserId">
    <input type="hidden" name="fields[source]" value="The DevOps Security Checklist">
    <input type="hidden" name="fields[medium]" value="Resources">
    <input type="hidden" name="fields[resource_link]" value="https://s3-eu-west-1.amazonaws.com/sqreen-assets/whitepapers/devops-security-checklist.pdf">
    <fieldset>
      <input type="email" name="fields[email]" placeholder="Email address" required>
      <input type="text" name="fields[name]" placeholder="Name" required>
      <input type="text" name="fields[company]" placeholder="Company" required>
      <label>
        <input type="checkbox" name="fields[checkbox]" value="I want a demo">
        <span>I want to learn more about Sqreen</span>
      </label>
    </fieldset>
    <span class="text"></span>
    <button class="submit-button" name="submit" data-drip-attribute="sign-up-button">
      Submit
    </button>
  </form>
</div>

{% assign codes = site.tips | where:'category', 'Code' %}
<div class="scrollspy" id="code">
  <h2>Code</h2>
  <ul class="checklist">
    {% for code in codes %}
    <li class="{{ code.stage | replace: " ", "-" | downcase }}">
      <div class="header">
        <div class="check">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
            <g fill="none" fill-rule="evenodd" stroke-width="3" transform="translate(2 2)">
              <path stroke="#fc3e47" d="M6 11.402l2.874 2.934L16.06 7"/>
              <circle cx="11" cy="11" r="11"/>
            </g>
          </svg>
        </div>
        <div class="expend-bar">
          <p>{{ code.title | escape }}</p>
          <span class="category">{{ code.stage }}</span>
        </div>
        <div class="btn">
          <img src="/images/arrow-bottom.svg" alt="" class="arrow">
        </div>
      </div>
      <div class="body">
        {{ code.content }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% assign infrastructures = site.tips | where:'category', 'Infrastructure' %}
<div class="scrollspy" id="infrastructure">
  <h2>Infrastructure</h2>
  <ul class="checklist">
    {% for infrastructure in infrastructures %}
    <li class="{{ infrastructure.stage | replace: " ", "-" | downcase }}">
      <div class="header">
        <div class="check">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
            <g fill="none" fill-rule="evenodd" stroke-width="3" transform="translate(2 2)">
              <path stroke="#fc3e47" d="M6 11.402l2.874 2.934L16.06 7"/>
              <circle cx="11" cy="11" r="11"/>
            </g>
          </svg>
        </div>
        <div class="expend-bar">
          <p>{{ infrastructure.title | escape }}</p>
          <span class="category">{{ infrastructure.stage }}</span>
        </div>
        <div class="btn">
          <img src="/images/arrow-bottom.svg" alt="" class="arrow">
        </div>
      </div>
      <div class="body">
        {{ infrastructure.content }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% assign protections = site.tips | where:'category', 'Protection' %}
<div class="scrollspy" id="protection">
  <h2>Protection</h2>
  <ul class="checklist">
    {% for protection in protections %}
    <li class="{{ protection.stage | replace: " ", "-" | downcase }}">
      <div class="header">
        <div class="check">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
            <g fill="none" fill-rule="evenodd" stroke-width="3" transform="translate(2 2)">
              <path stroke="#fc3e47" d="M6 11.402l2.874 2.934L16.06 7"/>
              <circle cx="11" cy="11" r="11"/>
            </g>
          </svg>
        </div>
        <div class="expend-bar">
          <p>{{ protection.title | escape }}</p>
          <span class="category">{{ protection.stage }}</span>
        </div>
        <div class="btn">
          <img src="/images/arrow-bottom.svg" alt="" class="arrow">
        </div>
      </div>
      <div class="body">
        {{ protection.content }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% assign monitorings = site.tips | where:'category', 'Monitoring' %}
<div class="scrollspy" id="monitoring">
  <h2>Monitoring</h2>
  <ul class="checklist">
    {% for monitoring in monitorings %}
    <li class="{{ monitoring.stage | replace: " ", "-" | downcase }}">
      <div class="header">
        <div class="check">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
            <g fill="none" fill-rule="evenodd" stroke-width="3" transform="translate(2 2)">
              <path stroke="#fc3e47" d="M6 11.402l2.874 2.934L16.06 7"/>
              <circle cx="11" cy="11" r="11"/>
            </g>
          </svg>
        </div>
        <div class="expend-bar">
          <p>{{ monitoring.title | escape }}</p>
          <span class="category">{{ monitoring.stage }}</span>
        </div>
        <div class="btn">
          <img src="/images/arrow-bottom.svg" alt="" class="arrow">
        </div>
      </div>
      <div class="body">
        {{ monitoring.content }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
